./bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/bundle

/storage/*

/node_modules
/yarn-error.log

/public/asserts
.bybug_history

/config/master.key
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity

spec/examples.txt
doc/rdoc/
.envrc
erd.*
/coverage

*.DS_Store

/.circleci
/.git
/.github
/doc
/docker
/spec
.dockerignore
.envrc.sample
.eslintrc.yml
.gitignore
.pryrc
.rspec
.rubocop.yml
.rubocop_todo.yml
.ruby-version
.slim-lint.yml
Dockerfile
Procfile*
README.md
docker-compose.yml
sideci.yml

